#read_more_button {
  border-radius: 30px;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 20px;
}

#play_button, #read_more_button {
  background-color: rgb(50, 187, 241);
  color: white;
  border: 0;
}

#play_button {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  font-size: 60px;
  padding-left: 20px;
}