* {
  font-family: sans-serif;
  font-stretch: condensed;
}

h1 {
  font-size: 60px;
}

h3 {
  font-size: 40px;
  font-weight: lighter;
}

h4 {
  font-size: 30px ;
  font-weight: lighter;
}

p { 
  font-size: 20px;
}

section {
  width: 100%;
  text-align: center;
  height: fit-content;
  padding: 50px 0;
}

#projects { 
  background-image: url(../Assets/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.avif);
  padding: 150px 0;
}

#stories {
  background-image: url(../Assets/empty-meeting-room-with-table-whiteboard_1262-3763.avif)
}

#projects, #stories {
  color: white;
}

footer { 
  background-color: rgb(88, 77, 77);
  padding-left: 10%;
  padding-top: 30px ;
  padding-bottom: 40px;
}